.input-group {
  margin: 0.5rem auto;
  text-align: left;
}

input {
  width: 80%;
  padding: 10px 20px;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}

textarea {
  width: 87%;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}

select {
  width: 90%;
  padding: 10px 20px;
}

label {
  margin-left: 30px;
}

form {
  max-width: 500px;
  margin: auto;
}
