.input-group {
  margin: 0.5rem auto;
  text-align: left;
}

.select-group {
  text-align: left;
}

.radio-group {
  text-align: left;
  border: 1px solid var(--lightGray);
  border-radius: 5px;
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 5px 0px;
}

.indiv-radio-group label {
  margin: 0;
}

.radio-group input {
  display: inline;
  margin-left: 15px;
  width: 2rem;
}

.left-align {
  width: 100%;
  text-align: left;
  margin-top: 9px;
}

.box-shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

input {
  width: 80%;
  padding: 10px 20px;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}

textarea {
  width: 89%;
  height: 130px;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}

select {
  width: 90%;
  padding: 10px 20px;
  margin: auto;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
}

label {
  margin-left: 30px;
  font-family: 'Antonio', sans-serif;
}

form {
  max-width: 500px;
  margin: auto;
}
